<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">

    <insert id="register" parameterType="user">
        insert into user(username, password, retime, phone, email,address)
        values (#{username}, #{password}, #{reTime}, #{phone}, #{email},#{address})
    </insert>

    <update id="update" parameterType="user" >
        update user set username=#{username},password=#{password},phone=#{phone},email=#{email},address=#{address}
        where uid=#{uid}
    </update>
    <update id="changeWord" parameterType="user">
        update user set password = #{password} where username = #{username}
    </update>

    <delete id="delete" parameterType="string">
        delete from user where uid in
        <foreach collection="array" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <select id="searchName" parameterType="user" resultType="int">
        select count(0)
        from user
        where username = #{username}
    </select>

    <select id="login" resultType="int" parameterType="user">
        select count(0)
        from user
        where username = #{username}
          and password = #{password}
    </select>

    <select id="getUsers" resultType="user" parameterType="map">
        select uid,username,password,phone,email,reTime,address from user
        <where>
            <if test="name != null and name != ''">
                username like '%${name}%'
            </if>
        </where>

    </select>

    <select id="getProvince" resultType="area">
        select code,name from sc_province
    </select>

    <select id="getCity" resultType="area" parameterType="string">
        select code,name from sc_city where provincecode = #{provincecode}
    </select>

    <select id="getArea" resultType="area" parameterType="string">
        select code,name from sc_area where citycode = #{citycode}
    </select>
    <select id="searchPic" resultType="string" parameterType="string">
        select picture from user where username = #{name}
    </select>

</mapper>